.page-container {

    min-width: 100vw;
    height:100vh;
    display: grid;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "header header header"
        "navbar navbar navbar"
        "left-sidebar main right-sidebar"
        "footer footer footer"
    ;
    background-color: aliceblue;
    gap: 0.25rem;
    text-align: center;
    color:whitesmoke;

}

.header {

    grid-area: header;
    background-color: crimson;
    border-radius: 2rem;
    place-content: center;
}

.navbar {

    grid-area: navbar;
    background-color: darkslategrey;
    border-radius: 2rem;
    place-content: center;
}

.left-sidebar {
    grid-area: left-sidebar;
    background-color: deeppink;
    border-radius: 2rem;
    place-content: center;
}

.right-sidebar {

    grid-area: right-sidebar;
    background-color: purple;
    border-radius: 2rem;
    place-content: center;
}

.main {

    grid-area: main;
    border-radius: 2rem;
    place-content: center;
}

.footer {

    grid-area: footer;
    border-radius: 2rem;
    background-color: chocolate;
    place-content: center;
}

@media (max-width: 800px){

    .page-container{

        grid-template-rows: 2fr 1fr 4fr 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "navbar"
            "main"
            "left-sidebar"
            "right-sidebar"
            "footer"
        ;
    }

}